header {
    background: black;
    padding: 40px 0;
}

nav {
    text-align: center;
}
  	
nav li {
    display: inline;
    margin: 0 0 0 40px;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    color: white;
}

.principal h1 {
    padding: 0 830px;
}

.principal h2 {
    text-align:center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
    padding: 1em;
    margin: 0 0 0 15px;
}


footer {
    background: black;
    text-align: center;
}

.copy {
    color: white;
    font-size: 15px;
    margin: 10px 0 0;
}