header {
    background: black;
    padding: 40px 0;
}

nav {
    text-align: center;
}
  	
nav li {
    display: inline;
    margin: 0 0 0 40px;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    color: white;
}

.principal h1 {
    padding: 0 830px;
}

.principal h2 {
    text-align:center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
    padding: 1em;
    margin: 0 0 0 15px;
}

form {
    font-family: Verdana,Tahoma,sans-serif;
    font-size: 15px;
    max-width: 500px;
}

h1 {
    margin-bottom: 20px;
    margin-left: 20px;
}

input, textarea {
    width: 200px;
    padding: 10px;
    color: black;
    margin-left: 20px;
    margin-top: 10px;
    border: 1px solid;
}

.enviar {
    
    height: 40px;
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    color: black;
}

textarea {
    width: 400px;
    height: 120px;
    line-height: 20px;
    max-width: 400px;
}

form label {
    margin-left: 20px;
    color: #FFFFFF;
    font-weight: bold;
}

footer {
    background: black;
    text-align: center;
}

.copy {
    color: white;
    font-size: 15px;
    margin: 10px 0 0;
}